# Docker Compose Full Stack Environment Variables
# Use this file for running all services with docker-compose --profile full

# ===================================
# Database Configuration
# ===================================
# Use container name when all services run in docker-compose
# Special characters in password: ^ = %5E,  $ = %24
# DATABASE_URL=postgresql://eshant:mypgtest@localhost:5432/quickbite
POSTGRES_USER=eshant
POSTGRES_PASSWORD=mypg2510
POSTGRES_DB=quickbite


# ===================================
# Redis Configuration
# ===================================
# Use container name when all services run in docker-compose
# REDIS_URL=redis://quickbite:redistest@localhost:6379
# Path to redis.conf on your local machine
REDIS_ENTRYPOINT_PATH=./redis-setup/redis-entrypoint.sh
REDIS_CONF_PATH=./redis-setup/redis.conf
REDIS_PASSWORD=redistest
REDIS_USERNAME=quickbite


# ===================================
# Kafka Configuration
# ===================================
KAFKA_SERVERS=localhost:9092
